* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
  
a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}
  

/* NAVBAR */
  
.navbar{
    background-color: #2da380;
    width: 100%;
    height: 85px;
}
  
.navbar_logotipo {
    text-align: center;
    padding: 5px;
}
  
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
  
  
/* HEADER */
  
.header {
    width: 100%;
    min-height: 80vh;
    height: auto;
    background-color: #B03060;
    /* background-image: url(./img/backgroud_header_01.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    color: #ffffff;
}
  
.container_header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_titulo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
}

.container_header_img {
    border-radius: 3px;
}
  
.header_img{
    width: 100%;
    height: 220px;
    border-radius: 3px;
}
  
 
/* --- BOTAO --- */
   
.header_button {
    margin: 30px 0;
    color: #fff;
    background: #184061;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    text-decoration: none;
    list-style: none;
}
  
.header_button:hover {
    background-color: #2e1842;
    color: #ffffff;
    transition: background-color .5s;
}
  
  
/* SECAO Maravilhosa */

.maravilhosa {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2da380;
    width: 100%;
    height: auto;
    padding: 20px 20px;
}
  
.container_maravilhosa {
    background-color: #9e365c;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    border-radius: 3px;
    gap: 20px;
    padding-bottom: 20px;
}
  
.container_maravilhosa h2 { 
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.container_maravilhosa h2 span {
    color: #1b91c0;
    font-size: 30px;
}

.maravilhosa_titulo span:hover {
    background-color: #b13897;
    color: #f9fbfd;
    transition: 0.8s;
}

.container_maravilhosa_foto, .container_maravilhosa_foto2, .suaHistoria_imagem, .suaHistoria2_imagem, .suaHistoria3_imagem, .suaHistoria4_imagem {
    width: 90%;
    margin: 10px 13px;
    box-shadow: 2px 2px 4px #807b7b;
    border-radius: 5px;
}

.container_img_texto, .container_img_texto2, .suaHistoria_img_texto {
    color: #fff;
    font-size: 11px;
    font-style: italic;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 0 60px;
    text-align: center;
}

.container_img_texto2 {
    margin-top: 0;
}

.container_maravilhosa2 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_maravilhosa2_texto {
    margin-bottom: 20px;
}



/* container_suaHistoria */

.container_suaHistoria {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container_suaHistoria h2 {
    font-size: 19px;
    font-weight: bold;
    color: #791543;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.suaHistoria_texto, .suaHistoria_texto1, .suaHistoria_texto2, .suaHistoria3_texto, .suaHistoria4_texto {
    padding: 20px 20px;
    text-align: justify;
}

.suaHistoria_img_texto, .suaHistoria_img_texto2, .suaHistoria_img_texto3, .suaHistoria_img_texto4 {
    color: #fff;
    font-size: 11px;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 0 60px;
    text-align: center;
}


/* AUTORA */
.autora_sobre {
    margin: 40px 0;
    padding: 20px;
    background-color: #184061;
}

.autora_sobre h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.autora {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.container_autora_img {
    display: flex;
    justify-content: center;
    flex: 1;
}

.autora_foto {
    border-radius: 50%;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 3px 7px #807b7b;  
}

.container_autora {
    color: #fff;
    text-align: justify;
    flex: 2;
}

.container_autora h3 {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}

.container_autora p {
    text-align: center;
    margin: 10px 10px;
    letter-spacing: 1px;
    padding: 0 10px;
}

.link_reprograma {
    color: #dd7dc5;
}

.link_reprograma:hover {
    background-color: #87e0a9;
    color: #ffffff;
    transition: background-color .5s;
}


/* FOOTER */
.footer_menu {
    background-color: #B03060;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 30px 0;
}

.footer_menu_a, .footer_links {
    display: block;
    text-align: center;
    list-style: none;
}

.footer_cc {
    background: #5B5E5E;
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

.footer_cc_p {
    padding: auto;
    margin: auto;
    text-align: center;
}


/* /////////////////////////////////////MEDIA QUERY///////////////////////////////// */

/* Extra small (xs): Smartphone (portrait - retrato) */
/* @media (min-width: 400px)  */


/* Extra small (sm): Smartphone (landscape - paisagem) */
@media (min-width: 570px) {
    .header_img {
        height: 300px;
    }
    .container_maravilhosa h2 {
        padding: 10px 20px;
    }
    .container_maravilhosa_foto, .container_maravilhosa_foto2, .suaHistoria_imagem, .suaHistoria2_imagem, .suaHistoria3_imagem {
        width: 80%;
    }
    .footer_cc {
        font-size: 10px;
    }
}

@media (min-width: 700px){
    .header_img {
        height: 390px;
    }
    .footer_cc {
        font-size: 12px;
    }
}

@media (min-width: 760px){
    .header {
        min-height: 40vh;
    }
    .container_header {
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    .header_titulo {
        width: 60%;
    }
    .header_img {
        height: 320px;
    }
    .container_maravilhosa h2 {
        padding: 10px 95px;
    }
    .container_maravilhosa_foto, .container_maravilhosa_foto2, .suaHistoria_imagem, .suaHistoria2_imagem, .suaHistoria3_imagem, .suaHistoria4_imagem {
        width: 70%;
    }
    .autora_sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .autora_sobre h2 {
        padding-top: 20px;
    }
    .autora {
        flex-direction: row;
        width: auto;
        padding-bottom: 20px;
        margin: 0 40px;
    }
    .footer_menu {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        padding: 50px 20px;
    }
    .footer_cc {
        font-size: 15px;
    }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
    .header_img {
        height: 367px;
    }
    .maravilhosa {
        padding: 50px 50px;
    }
    .container_maravilhosa {
        padding: 30px 30px;
    }
    .container_maravilhosa h2 {
        padding: 7px 154px;
    }
    .container_maravilhosa_foto, .container_maravilhosa_foto2, .suaHistoria_imagem, .suaHistoria2_imagem, .suaHistoria3_imagem, .suaHistoria4_imagem {
        width: 60%;
    }
    .container_maravilhosa h2 span {
        font-size: 35px;
    }
    .container_suaHistoria h2 {
        font-size: 23px;
        padding: 10px 100px;
    }
}

/* Extra Large (xl): Computador */
@media (min-width: 1200px) {
    .header_titulo {
        width: 35%;
        margin: 0 15px;
        padding-left: 20px;
    }
    .header_img {
        display: flex;
        flex-direction: row;
        height: 382px;
        margin: 35px 0;
    }
    .container_maravilhosa h2 span {
        font-size: 45px;
        padding-left: 20px;
    }
    .container_maravilhosa_texto_1 {
        display: flex;
        flex-direction: row;
        gap: 10%;
        margin: 10px 10px;
        font-size: 20px;
    }
    .container_maravilhosa_foto {
        width: 50%;
    }
    .container_img_texto, .container_img_texto2, .suaHistoria_img_texto, .suaHistoria_img_texto2, .suaHistoria_img_texto3, .suaHistoria_img_texto4 {
        font-size: 15px;
    }
    .container_maravilhosa2 {
        flex-direction: row;
        margin-top: 15px;
    }
    .container_maravilhosa2_texto {
        flex-direction: column;
        margin-right: 10px;
        padding-right: 20px;
        font-size: 18px;
    }
    .container_maravilhosa_foto2, .suaHistoria_imagem, .suaHistoria2_imagem {
        width: 30%;
    }
    .container_img_texto2 {
        text-align: end;
        padding-right: 35px;
    }
    .suaHistoria1, .suaHistoria3, .suaHistoria4 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .suaHistoria_texto, .suaHistoria_texto1, .suaHistoria_texto2, .suaHistoria3_texto, .suaHistoria4_texto {
        font-size: 18px;
        margin-left: 30px;
        padding: 0 50px;
    }
    .suaHistoria_texto1 {
        margin-top: -140px;
    }
    .suaHistoria_texto2 {
        margin-right: 439px;
        margin-top: -200px;
        padding-right: 60px;
    }
    .suaHistoria3_texto {
        margin-top: 50px;
        padding-right: 95px;
    }
    .suaHistoria4_texto {
        padding-right: 50px;
        padding-top: 20px;
    }
    .suaHistoria_imagem {
        margin-right: 65px;
    }
    .suaHistoria_img_texto   {
        margin-left: 780px;
        padding: 2px 100px;
    }
    .suaHistoria_img_texto2 {
        margin-right: 427px;
    }
    .suaHistoria_img_texto3 {
        margin-top: -243px;
        margin-left: 475px;
    }
    .suaHistoria_img_texto4 {
        margin-top: -30px;
        padding-left: 800px;
        margin-right: 80px;
    }
    .suaHistoria2_imagem {
        margin-top: 120px;
        margin-right: 443px;
    }
    .suaHistoria3_imagem {
        width: 125%;
        margin-top: -642px;
        margin-right: 250px;
    }
    .suaHistoria4_imagem {
        width: 40%;
        margin-top: -200px;
        margin-right: 65px;
    }
    .autora {
        margin: 0 170px
    }
    .autora_foto {
        width: 220px;
    }
    .container_autora {
        font-size: 18px;
    }
    .container_autora h3, .container_autora p {
        text-align: right;
    }
    .container_autora p {
        margin-right: -25px;
        margin-top: 37px;
    }
}
